body
{
	margin: 0;
	background-color: white;
	font-family: Tahoma, Arial;
}

#wrapper
{
	width: auto;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
	background-color: white;
	border-radius: 15px;
	overflow: hidden;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
		text-align: center;
}

table {
    width: 100%;
}

th {
    height: 50px;

}

img
{
	max-width: 100%;
    height: auto;
}

nav
{
	background-color: white;
	height: 30px;
	margin-bottom: 60px;
}

nav a
{
	color: black;
	text-decoration: none;
	font-size: 15px;
}

nav a:hover
{
	text-decoration: underline;
}

nav a:visited
{
	color: black;
}

nav ul
 {
	margin: 0;
	padding: 0 0 0 10px;
 }

nav li
 {
	list-style-type: none;
	float:left;
	margin: 5.5px 15px 5.5px 0;
 }

 #content
 {
	clear: both;
	padding: 10px;
 }

 h1
 {
	margin-top: 0;
}

footer
{
	border-top: 1px solid black;
	text-align: center;
	padding: 2px;
	margin-top: 300px;
}

footer p
{
	margin-top: 0px;
}

a
{
	text-decoration: none;
}

td
{
	border: 1px solid black;
}

label
{
	min-width: 140px;
	display: inline-block;
}
