.block {
  margin-bottom: 36px;
  overflow: hidden;
}


p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {
    color: #6699CC;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;margin: 0 0 0.60em;}
   h1 {font-size: 33px;color: #6c6c6c;font-weight: normal;} /* 24px */
   h2 {font-size: 150%;color: #6c6c6c;font-weight: normal;} /* 20px */
   h3 {font-size: 133.33%;font-weight: normal;color: #6c6c6c;} /* 18px */
   h4 {font-size: 116.67%;} /* 16px */
   h5 {font-size: 116.67%;font-style: italic;} /* 14px */

.border-box {
    border: 1px solid #6699cc;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
}

.left {
  float: left;
  margin-top: 14px;
  margin-right: 14px;
}

.weekday {
  display: inline-block;
  font-weight: bold;
  width: 113px;
  float: left;
  min-height: 2px;
}

.time {
  display: inline-block;
  width: 87px;
  float: left;
  min-height: 2px;
}

#main {
    margin-top: 53px;
}

#right-side {
    font-size: 13px;
    margin-top: 30px
}
